*.swp
*.swo
*.swn
*.swm
build


3rdParty/julius/libjulius/Makefile
3rdParty/julius/libjulius/config.cache
3rdParty/julius/libjulius/config.log
3rdParty/julius/libjulius/config.status
3rdParty/julius/libjulius/doxygen.conf.ver
3rdParty/julius/libjulius/include/julius/config.h
3rdParty/julius/libjulius/libjulius-config
3rdParty/julius/libjulius/libjulius-config-dist
3rdParty/julius/libjulius/src/version.c
3rdParty/julius/libsent/Makefile
3rdParty/julius/libsent/config.log
3rdParty/julius/libsent/config.status
3rdParty/julius/libsent/include/sent/config.h
3rdParty/julius/libsent/libsent-config
3rdParty/julius/libsent/libsent-config-dist
